body {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	background: black;
}

#base {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    border-radius: 100%;
    background: #9d999a;
    width: 100px;
    height: 100px;
    bottom: 20px;
}

.xwing {
	position: relative;
	width: 25px;
	height: 25px;
	top: 10px;
	background: url('./photos/xwing.png');
	background-size: cover;
}
#cannon{
    position: absolute;
    background: #9d999a;
    transform-origin: bottom center;

    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    height: 85px;
    width: 20px;
    z-index: 100;
}

.laser {
	width: 3px;
	height: 15px;
	position: absolute;
	border-radius: 3px;
	background: #baec9b;
	border: 1px solid #73bb53;
	z-index: 99;
}